@page "/RegistroMarcas"
@page "/RegistroMarcas/{MarcaId:int}"
@using DealerAutos.Client.Extensors;
@inject NotificationService notificationService
@inject HttpClient httpClient

<EditForm Model="marca" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de marcas.</h3>
            </div>
            <div class=card-body>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Marca Id:</label>
                    <div class="input-group mb-3">
                        <InputNumber @bind-Value="marca.MarcaId" class="form-control" aria-describedby="BotonBuscar" />
                        <button @onclick="Buscar" class="btn btn-outline-primary" 
                        type="button" id="BotonBuscar"><i class="oi oi-magnifying-glass"></i></button>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Nombre">Nombre:</label>
                    <InputText @bind-Value="marca.Nombre" class="form-control" />
                    <ValidationMessage For="@(() => marca.Nombre)" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Fecha">Fecha:</label>
                    <InputDate @bind-Value="marca.Fecha" class="form-control" />
                    <ValidationMessage For="@(() => marca.Fecha)" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Modelo">Modelo:</label>
                    <InputText @bind-Value="marca.Modelo" class="form-control" />
                    <ValidationMessage For="@(() => marca.Modelo)" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Tipo">Tipo:</label>
                    <InputText @bind-Value="marca.Tipo" class="form-control" />
                    <ValidationMessage For="@(() => marca.Tipo)" />
                </div>

            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" @onclick="Nuevo">Nuevo <i class="oi oi-file" /></button>
                    <button type="submit" class="btn btn-outline-success">Guardar <i class="oi oi-document" /></button>
                    <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar <i class="oi oi-trash" /></button>
                </div>
            </div>
        </div>
    </div>


</EditForm>
<label>@Mensaje</label>

@code {

    [Parameter]

    public int MarcaId { get; set; }

    public Marca marca { get; set; } = new Marca();

    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (MarcaId > 0)
        {
            marca.MarcaId = MarcaId;
            await Buscar();
        }
    }

    public async Task Buscar()
    {
        try
        {
            var marcaEncontrada = await httpClient.GetFromJsonAsync<Marca>($"api/Marcas/{marca.MarcaId}");
            if (marcaEncontrada != null)
            {
                marca = marcaEncontrada;
                StateHasChanged();

                notificationService.ShowNotification(
                    titulo: "Búsqueda exitosa",
                    mensaje: "Se encontró la marca.",
                    NotificationSeverity.Success
                );
            }
            else
            {
                notificationService.ShowNotification(
                    titulo: "Error de búsqueda",
                    mensaje: "Registro no encontrado",
                    NotificationSeverity.Error
                );
            }
        }
        catch (Exception ex)
        {
            notificationService.ShowNotification(
                titulo: "Error de búsqueda",
                mensaje: ex.Message,
                NotificationSeverity.Error
            );
        }
    }

    public async Task Guardar()
    {
        try
        {
            using var response = await httpClient.PostAsJsonAsync("api/Marcas", marca);
            response.EnsureSuccessStatusCode();

            var exito = await response.Content.ReadFromJsonAsync<Marca>();
            if (exito != null)
            {
                marca = exito;
                StateHasChanged();
                Nuevo();
                notificationService.ShowNotification(
                    titulo: "Éxito",
                    mensaje: "Registro guardado",
                    NotificationSeverity.Success
                );
            }
            else
            {
                notificationService.ShowNotification(
                    titulo: "Error",
                    mensaje: "El registro no se guardó correctamente",
                    NotificationSeverity.Error
                );
            }
        }
        catch (Exception ex)
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: ex.Message,
                NotificationSeverity.Error
            );
        }
    }

    public void Nuevo()
    {
        marca = new Marca();
        Mensaje = string.Empty;

        notificationService.ShowNotification(
            titulo: "Nueva marca",
            mensaje: "Se ha creado una nueva marca.",
            NotificationSeverity.Info
        );
    }

    public async Task Eliminar()
    {
        try
        {
            using var response = await httpClient.DeleteAsync($"api/Marcas/{marca.MarcaId}");
            response.EnsureSuccessStatusCode();

            Nuevo();
            notificationService.ShowNotification(
                titulo: "Eliminado",
                mensaje: "La marca se ha eliminado correctamente",
                NotificationSeverity.Success
            );
        }
        catch (Exception ex)
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: ex.Message,
                NotificationSeverity.Error
            );
        }
    }

    public bool Validar()
    {
        return !string.IsNullOrEmpty(marca.Nombre) &&
               !string.IsNullOrEmpty(marca.Modelo) &&
               !string.IsNullOrEmpty(marca.Tipo);
    }
}