@page "/VentaVehiculos"
@page "/VentaVehiculos/{VentaId:int}"
@* @attribute [Authorize(Roles = "Administrador")] *@
@using DealerAutos.Client.Extensors
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient httpClient
@inject NotificationService notificationService

<EditForm Model="ventas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de ventas.</h3>
                </div>
                <div class=card-body>
            <div class="row">
                    <div class="col">
                        <label>Venta Id:</label>
                        <div class="input-group mb-3">
                            <InputNumber @bind-Value="ventas.VentaId" class="form-control" aria-describedby="BotonBuscar" />
                            <button @onclick="Buscar" class="btn btn-outline-primary" 
                            type="button" id="BotonBuscar"><i class="oi oi-magnifying-glass"></i></button>
                        </div>
                    </div>
                    <div class="col">
                            <div class="mb-3">
                            <label class="form-label" for="Fecha">Fecha:</label>
                            <InputDate @bind-Value="ventas.Fecha" class="form-control" />
                            <ValidationMessage For="() => ventas.Fecha" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="Nombre">
                                <i class="oi oi-person"></i> Nombre:
                            </label>
                            <InputText @bind-Value="ventas.Nombre" class="form-control" placeholder="Escribe un nombre" />
                            <ValidationMessage For="() => ventas.Nombre" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="Apellido">
                                <i class="oi oi-person"></i> Apellido:
                            </label>
                            <InputText @bind-Value="ventas.Apellido" class="form-control" placeholder="Escribe un apellido" />
                            <ValidationMessage For="() => ventas.Apellido" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="Cedula">
                                <i class="oi oi-credit-card"></i> Cédula:
                            </label>
                            <InputText @bind-Value="ventas.Cedula" class="form-control" placeholder="Escribe una cédula" />
                            <ValidationMessage For="() => ventas.Cedula" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="Telefono">
                                <i class="oi oi-phone"></i> Teléfono:
                            </label>
                            <InputText @bind-Value="ventas.Telefono" class="form-control" placeholder="Escribe una numero de teléfono" />
                            <ValidationMessage For="() => ventas.Telefono" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="Direccion">
                                <i class="oi oi-location"></i> Dirección:
                            </label>
                            <InputText @bind-Value="ventas.Direccion" class="form-control" placeholder="Escribe una dirección" />
                            <ValidationMessage For="() => ventas.Direccion" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label>
                                <i class="oi oi-document"></i> DNI vendedor:
                            </label>
                            <InputSelect @bind-Value="ventas.EmpleadoId" class="form-select">
                            <option value="0"disabled selected>Selecciona</option>
                                @foreach (var item in empleados)
                                {
                                    <option value="@item.EmpleadoId">@item.DNI</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => ventas.EmpleadoId)" />
                        </div>
                    </div>
                </div>
                <hr>
                <fieldset>
                    <legend>Lista de Vehículos:</legend>
                    <div class="row">
                        <div class="col-4">
                            <label for="SelectP">Vehículos:</label>
                            <div class = "input-group">
                                <RadzenDropDown class="form-control" Data="@L_Vehiculos.Where(p => p.VehiculoId != 5)" TextProperty="Modelo" ValueProperty="VehiculoId" @bind-Value="@vehiculosDetalles.VehiculoId"></RadzenDropDown>
                                <button type="button" class="btn btn-dark" @onclick="AgregarDetalle">Agregar <i class="oi oi-plus" /></button> 
                                <ValidationMessage For="@(() => vehiculosDetalles.Cantidad)" />
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Vehículo</th>
                                <th>Modelo</th>
                                <th>Marca</th>
                                <th>Tipo</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ventas.VehiculosDetalles)
                            {
                                <tr>
                                    <td><img src="@L_Vehiculos.FirstOrDefault(p => p.VehiculoId == item.VehiculoId)?.Imagen" width="60px" height="60px" /></td>
                                    <td>@item.VehiculoId</td>
                                    <td>@L_Vehiculos.FirstOrDefault(p => p.VehiculoId == item.VehiculoId)?.Modelo</td>
                                    <td>@L_Vehiculos.FirstOrDefault(p => p.VehiculoId == item.VehiculoId)?.Marca</td>
                                    <td>@L_Vehiculos.FirstOrDefault(p => p.VehiculoId == item.VehiculoId)?.Tipo</td>
                                    <td>@item.Precio</td>
                                    <td>
                                        <button class="btn btn-danger mr-2" onclick="@(() => EliminarDetalle(item))"><i class="oi oi-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row d-flex justify-content-center">
                        <div class="col-5">
                            <label class="form-label" for="Total">Total de la venta:</label>
                            <InputNumber @bind-Value="ventas.Total" class="form-control" disabled />
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" @onclick="Nuevo">Nuevo <i class="oi oi-file"></i></button>
                    <button type="submit" class="btn btn-outline-success">Guardar <i class="oi oi-document"></i></button>
                    <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar <i class="oi oi-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</EditForm>
<label>@Mensaje</label>

@code {
    [Parameter]
    public int VentaId { get; set; }
    public int VehiculoId { get; set; }
    public int DetalleId { get; set;  }
    public Ventas ventas { get; set; } = new Ventas();
    public VehiculosDetalles vehiculosDetalles { get; set; } = new VehiculosDetalles();
    public string Mensaje { get; set; } = string.Empty;
    public List<Vehiculos> L_Vehiculos { get; set; } = new List<Vehiculos>();
    public List<Empleados> L_Empleados { get; set; } = new List<Empleados>();
    public IEnumerable<Empleados> empleados { get; set; } = Enumerable.Empty<Empleados>();
    public bool DetalleEliminado { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var vehiculos = await httpClient.GetFromJsonAsync<List<Vehiculos>>("api/Vehiculos");
        await CargarDNI();
        if (vehiculos is not null)
        {
            L_Vehiculos = vehiculos;
        }

    }

    private async Task CargarDNI()
    {
        var empleadoEncontrado = await httpClient.GetFromJsonAsync<IEnumerable<Empleados>>("api/Empleados");
        if(empleadoEncontrado != null)
        {
            empleados = empleadoEncontrado;
        }
    }

    public void SetTotal()
    {
        ventas.Total = ventas.VehiculosDetalles.Sum(v => v.Precio);
    }

    public void Nuevo()
    {
        ventas = new Ventas();
        Mensaje = string.Empty;
        notificationService.ShowNotification(
            titulo: "Nueva venta",
            mensaje: "Se ha creado una nueva venta.",
            NotificationSeverity.Info
        );
    }

    public async Task Buscar()
    {
        try
        {
            var ventaEncontrada = await httpClient.GetFromJsonAsync<Ventas>($"api/Ventas/{ventas.VentaId}");
            if (ventaEncontrada != null)
            {
                ventas = ventaEncontrada;
                StateHasChanged();
                notificationService.ShowNotification(
                    titulo: "Búsqueda exitosa",
                    mensaje: "Se encontró la venta.",
                    NotificationSeverity.Success
                );
            }
            else
            {
                notificationService.ShowNotification(
                    titulo: "Error de búsqueda",
                    mensaje: "Registro no encontrado",
                    NotificationSeverity.Error
                );
            }
        }
        catch (Exception ex)
        {
            notificationService.ShowNotification(
                titulo: "Error de búsqueda",
                mensaje: ex.Message,
                NotificationSeverity.Error
            );
        }
    }

    public async Task Guardar()
    {
        try
        {
            if (ventas.VehiculosDetalles.Count == 0)
            {
                notificationService.ShowNotification(
                    titulo: "Error",
                    mensaje: "Debe agregar al menos un detalle antes de guardar la venta",
                    NotificationSeverity.Error
                );
                return;
            }

            if (DetalleEliminado)
            {

                DetalleEliminado = false;
                return;
            }

            using var response = await httpClient.PostAsJsonAsync("api/Ventas", ventas);
            response.EnsureSuccessStatusCode();
            var exito = await response.Content.ReadFromJsonAsync<Ventas>();
            if (exito != null)
            {
                ventas = exito;
                StateHasChanged();
                Nuevo();
                notificationService.ShowNotification(
                    titulo: "Éxito",
                    mensaje: "Registro guardado",
                    NotificationSeverity.Success
                );
            }
            else
            {
                notificationService.ShowNotification(
                    titulo: "Error",
                    mensaje: "El registro no se guardó correctamente",
                    NotificationSeverity.Error
                );
            }
        }
        catch (Exception ex)
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: ex.Message,
                NotificationSeverity.Error
            );
        }
    }

    public async Task Eliminar()
    {
        try
        {
            using var response = await httpClient.DeleteAsync($"api/Ventas/{ventas.VentaId}");
            response.EnsureSuccessStatusCode();

            foreach (var detalle in ventas.VehiculosDetalles)
            {
                var vehiculo = await BuscarVehiculo(detalle.VehiculoId);
                if (vehiculo != null)
                {
                    vehiculo.Existencia += detalle.Cantidad;
                    using var response1 = await httpClient.PutAsJsonAsync($"api/Vehiculos/{vehiculo.VehiculoId}", vehiculo);
                    Console.WriteLine();
                }
            }

            Nuevo();
            ventas.VehiculosDetalles.Clear();

            notificationService.ShowNotification(
                titulo: "Eliminado",
                mensaje: "La venta se ha eliminado correctamente",
                NotificationSeverity.Success
            );
        }
        catch (Exception ex)
        {
            notificationService.ShowNotification(
                titulo: "Error",
                mensaje: ex.Message,
                NotificationSeverity.Error
            );
        }
    }

    public bool Validar()
    {
        return 
               !string.IsNullOrEmpty(ventas.Nombre) &&
               !string.IsNullOrEmpty(ventas.Apellido) &&
               !string.IsNullOrEmpty(ventas.Telefono) &&
               !string.IsNullOrEmpty(ventas.Cedula) &&
               !string.IsNullOrEmpty(ventas.Direccion);
    }

    public bool ValidarDetalle()
    {
        if (vehiculosDetalles.VehiculoId < 0)
        {
            return false;
        }
        if (vehiculosDetalles.Existencia < 0)
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    private async Task<Vehiculos> BuscarVehiculo(int VehiculoId)
    {
        var vehiculos = await httpClient.GetFromJsonAsync<Vehiculos>($"api/Vehiculos/{VehiculoId}");

        if(vehiculos == null)
        {
            return new Vehiculos();
        }

        return vehiculos;
    }

    public async Task AgregarDetalle()
    {
        if (ValidarDetalle())
        {
            var vehiculo = await httpClient.GetFromJsonAsync<Vehiculos>($"api/Vehiculos/{vehiculosDetalles.VehiculoId}");

            if (vehiculo != null && vehiculo.Existencia > 0)
            {
                vehiculosDetalles.Precio = vehiculo.Precio;
                ventas.VehiculosDetalles.Add(vehiculosDetalles);
                SetTotal();

                vehiculo.Existencia -= vehiculosDetalles.Cantidad;

                using var response = await httpClient.PutAsJsonAsync($"api/Vehiculos/{vehiculosDetalles.VehiculoId}", vehiculo);

                vehiculosDetalles = new VehiculosDetalles();

                notificationService.ShowNotification(
                    titulo: "Éxito",
                    mensaje: "Detalle agregado correctamente",
                    NotificationSeverity.Success
                );
            }
            else
            {
                notificationService.ShowNotification(
                    titulo: "Error",
                    mensaje: "No hay existencia suficiente para el vehículo seleccionado",
                    NotificationSeverity.Error
                );
            }
        }
    }

    public async Task EliminarDetalle(VehiculosDetalles vehiculosDetalles)
    {
        try
        {
            this.ventas.VehiculosDetalles.Remove(vehiculosDetalles);
            SetTotal();
            DetalleEliminado = true;

            foreach (var detalle in ventas.VehiculosDetalles)
            {
                var vehiculo = await BuscarVehiculo(detalle.VehiculoId);
                if (vehiculo != null)
                {
                    vehiculo.Existencia += detalle.Cantidad;
                    await httpClient.PutAsJsonAsync($"api/Vehiculos/{vehiculo.VehiculoId}", vehiculo);
                }
            }

            var vehiculoEliminado = await BuscarVehiculo(vehiculosDetalles.VehiculoId);
            vehiculoEliminado.Existencia += vehiculosDetalles.Cantidad;
        }
        catch (Exception ex)
        {
            notificationService.ShowNotification(
                titulo: "Error al eliminar detalle",
                mensaje: ex.Message,
                NotificationSeverity.Error
            );
        }
    }
}