@page "/ConsultaVehiculos"
@inject HttpClient httpClient

<div class="card">
    <div class="card">

        <div class="card-header">
            <h3> Consulta de vehiculos </h3>
        </div>
        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">

                    <InputSelect class="form-control col-2" @bind-Value="filtro">
                        <option value="1">VehiculoId</option>
                        <option value="2">Marca</option>
                        <option value="4">Modelo</option>
                        <option value="6">Tipo</option>
                        <option value="7">Año</option>
                        <option value="8">Placa</option>
                        <option value="9">Precio</option>
                        <option value="10">Existencia</option>
                    </InputSelect>

                    <div class="flex-fill mx-2">

                        <div class="input-group">
                            <label class="input-group-text"> Busqueda </label>
                            <InputText class="form-control" @bind-Value="Criterio" />
                        </div>

                    </div>

                    <button type="button" class="btn btn-sm-10 btn-primary" @onclick="Buscar"> <span class="oi oi-magnifying-glass"></span> Buscar </button>
                </div>
            </form>
        </div>
        @if (vehiculos is not null)
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>VehiculoId</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Tipo</th>
                        <th>Año</th>
                        <th>Placa</th>
                        <th>Precio</th>
                        <th>Existencia</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in vehiculos)
                    {
                        <tr>
                            <th><img src="@item.Imagen" width="110px" height="110px" /></th>
                            <td>@item.VehiculoId</td>
                            <td>@item.Marca</td>
                            <td>@item.Modelo</td>
                            <td>@item.Tipo</td>
                            <td>@item.Anio</td>
                            <td>@item.Placa</td>
                            <td>@item.Precio</td>
                            <td>@item.Existencia</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="card-footer">
        <div class="form-row justify-content-sm-between" aria-orientation="vertical">
            <div class="col-3">
                <label for="CantidaRegistro" class="col-form-label"><strong>Filas</strong>&nbsp;</label>
                <input id="CantidaRegistro" @bind-value="@conteo" disabled class="form-control" />
            </div>
        </div>
    </div>
</div>

@code {
    public List<Vehiculos>? vehiculos { get; set; } = new List<Vehiculos>();
    public int conteo { get; set; }
    public string filtro { get; set; }
    public string Criterio { get; set; }

    public async Task Buscar()
    {
        var vehiculo = await httpClient.GetFromJsonAsync<List<Vehiculos>>($"api/Vehiculos");
        vehiculos = vehiculo;
        conteo = vehiculos != null ? vehiculos!.Count() : 0;
        StateHasChanged();
    }
}